/AddDigits.class
/CountPrimes.class
/DivideTwoIntegers.class
/ExcelSheet.class
/ExcelSheet2.class
/HappyNumber.class
/IntegerBreak.class
/MultiplyStrings.class
/NumberOfDigitOne.class
/PalindromeNumber.class
/Pow.class
/PowerOfThree.class
/PowerOfTwo.class
/RectangleArea.class
/ReverseInteger.class
/SelfCrossing.class
/TrailingZero.class
/UglyNum.class
/ValidNumber.class
